.cajatex01
  background-color: #1565C0
  border-radius: 8px

.med01
  width: 926px
  height: 486px

.bgImg1
  background-image: url("F:/Sena 2022 ECOSISTEMA DE RECURSOS EDUCATIVOS/Trabajos Febrero/CF12_Prueba_Gomez_v2/src/assets/curso/banner1.png")
  background-size: auto
  background-repeat: no-repeat
  background-position: center

.bgimg2
  background-color: white !important
